<form (ngSubmit)="submit(form)" #form="ngForm" class="entity-form" id="region-form">
    <h1 class="form-title">New Region</h1>
    <div class="line-title"></div>

    <div id="form-content">
        <div class="row">
            <div class="col m9 s12">
                <label for="regionName" class="label-form required">Region Name:</label>
                <input type="text" id="region-name" class="input-form"  [(ngModel)]="region.regionName" name="RegionName" required>
            </div>

        </div>

        <!-- Buttons for users that can add and edit Regions -->
        <div class="form-buttons">
            <button type="reset" class="btn-form waves-effect waves-light btn red darken-2" id="btn-clean" *ngIf="this.user.userRole != 'USER'" >Clean</button>
            <button type="submit" class="btn-form waves-effect waves-light btn green darken-2" *ngIf="this.user.userRole != 'USER'" value="Save">Save</button>
        </div>
    </div>

</form>
