<div id="team-view">
    <ul class="collapsible popout">
        <li>
            <div id="team-view-collapse" class="collapsible-header tooltipped" (click)="collapse()" data-position="top"
                data-tooltip="Click to expand">
                <div id="team-user">
                    <i class="material-icons">group</i>
                    {{this.user.name}}
                </div>
                <div class="team-user-txt">
                    ({{this.user.username}} - {{this.user.userRole}})
                </div>

                <span class="team-user-txt">teams you are part of</span>

            </div>
            <div class="collapsible-body">
                <ul>
                    <li *ngFor="let t of teams">{{t.name}}</li>
                </ul>
            </div>
        </li>
    </ul>
</div>