<app-navigation></app-navigation>
<div class="view-content">
    <div class="row view-header">
        <div class="title-div col m8 s12">
            <h1 class="form-title">Phone Family View</h1>
            <div class="line-title"></div>
        </div>
        <div class="header-view-btn right">
            <!-- Modal call to add new Phone Family -->
            <button id="modal-view" (click)="edit(0)" data-target="modal" class="m5 s5 waves-effect waves-light btn modal-trigger indigo darken-4">
                New Phone Family
            </button>
            <button (click)="get()" data-target="modal" class="s2 m2 waves-effect waves-light btn deep-purple darken-4">
                <i class="material-icons">autorenew</i>
            </button>
        </div>
    </div>
    
    <!-- Phone Faamily Form modal -->
    <div id="modal" class="modal">
        <app-phone-family-form [id]="id"></app-phone-family-form>
    </div>

    <!-- List of Phone Families -->
    <ul class="view-list">
        <li *ngFor="let item of phonefamily">
            {{ item.nameFamily }}
            <!-- Buttons for user that can edit Phone Family -->
            <div class="view-buttons" *ngIf="this.user.userRole != 'USER'">
                <a (click)="edit(item.id)" data-target="modal" class="waves-effect waves-light modal-trigger btn btn-view-list indigo">
                    Edit
                </a>
            </div>
            <!-- Buttons for user that can't edit Phone Family -->
            <div class="view-buttons" *ngIf="this.user.userRole == 'USER'">
                <a (click)="edit(item.id)" data-target="modal" class="waves-effect waves-light modal-trigger btn btn-view-list indigo">
                    View
                </a>
            </div>
        </li>
    </ul>
</div>